html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.search-country {
  width: 400px;
  height: 50px;
  font-size: 20px;
}
.country__about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.country__title {
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.country__text {
  font-size: 30px;
  font-weight: 600;
}
.country__value {
  font-weight: 300;
}
.country__item {
  font-size: 30px;
}
.country__img {
  width: 500px;
  height: auto;
}
.items__countries {
  font-size: 26px;
}
